<div id="create-item">
	<table width="925px">
	 <tr>
	  <th colspan="7" style="text-align: left;font-size:24px;margin-right:500px;">Hi {{Em.MyApp.user.name}}
	   {{#view Em.MyApp.AccessButton action="logout"}}&nbsp;Log out&nbsp;{{/view}}</th>
	 </tr>
	 <tr>
	  <th colspan="6" style="text-align: left;font-size:32px">Select Product</th>
	 </tr>
	 <tr>
	  <th colspan="4">Best Selling Books</th>
	 </tr>
	 <tr>
	 <td style="text-align: left;font-size: 10px">
		  {{#view Em.ThumbnailPhotoView classNames="thumbnailItem" contentBinding="this"}}
			    {{#each Em.booksController}}	 
			    	 <img {{bindAttr src="url" id="id"}} {{action "edit" on="click"}} height="175" width="110" />
   				{{/each}}
		  {{/view}}
	  </td>
	 <tr>
	  <th colspan="4">Mobiles & Mobile Accessories</th>
	 </tr>
	 <tr>
	  <td style="text-align: left;font-size: 10px" valign="top">
	  	 {{#view Em.ThumbnailPhotoView classNames="thumbnailItem" contentBinding="this"}}
			    {{#each Em.mobilesController}}	 
			    	 <img {{bindAttr src="url" id="id"}} {{action "edit" on="click"}} height="175" width="110" />
   				{{/each}}
		  {{/view}} 	
	  </td>	
	 </tr>
	</table>
</div>